@model IList<Database.Models.Critter>

@foreach (var item in Model)
{
    <div class="row pb-2">
        <div class="col">
            <div>
                <table class="card">
                    <tbody>
                        <tr>
                            <td>
                                <img class="vert-card-img-responsive" src="/CritterEx/Image?critterId=@item.CritterId&cacheVersion=@item.VersionNumber" />
                            </td>
                            <td class="pl-4">
                                <h5 class="card-title">@item.Name</h5>
                                <h6 class="card-subtitle text-muted">
                                    @(item.Gender == "M" ? "Male"
                                                         : item.Gender == "F" ? "Female"
                                                                              : item.Gender)
                                    @item.CritterType.Name - @item.Breed.Description
                                </h6>

                                <!--Special icons-->
                                @if (item.Gender == "M")
                                {
                                    <img src="~/images/icons/male.png" width="26" height="26" title="Male" />
                                }
                                else if (item.Gender == "F")
                                {
                                    <img src="~/images/icons/female.png" width="26" height="26" title="Female" />
                                }
                                else
                                {
                                    <img src="~/images/icons/default.png" width="26" height="26" title="Unknown Gender" />
                                }

                                @if (item.CanReproduce)
                                {
                                    <img src="~/images/icons/heart.jpg" width="26" height="26" title="Can reproduce" />
                                }
                                else
                                {
                                    <img src="~/images/icons/heart_broke.png" width="26" height="26" title="Can't reproduce" />
                                }

                                <div class="pt-5">
                                    <hr />
                                    <a class="card-link" asp-controller="CritterEx" asp-action="Edit" asp-route-id="@(item.CritterId)">Edit</a>
                                    <a class="card-link" asp-controller="CritterEx" asp-action="Delete" asp-route-id="@(item.CritterId)">Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}