@model IList<Database.Models.Critter>

<thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Breed</th>
        <th scope="col">Gender</th>
        <th scope="col">Dad</th>
        <th scope="col">Mum</th>
        <th scope="col">Owner</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.CritterType.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.Breed.Description) </td>
            <td> @Html.DisplayFor(modelItem => item.Gender) </td>
            <td> @Html.DisplayFor(modelItem => item.DadCritter.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.MumCritter.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.OwnerContact.Name) </td>
            <td>
                <partial name="_CritterLinks" model="item"/>
            </td>
        </tr>
    }
</tbody>