@model Website.Models.CritterExEditViewModel
@using Database.Models;
@{
    ViewData["Title"] = "Edit Critter";
}

<h2>Edit</h2>

<!--Back button-->
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-success" asp-action="Index">Back to List</a>
    </div>
</div>
<br />

@if (Model.ConcurrencyError)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                Someone modified this Critter before you submitted your changes.
                <br />
                <br />
                You'll have to re-enter all of the changes, sorry!
                <br />
                <br />
                (No matter how much you shout at Andy, he can't fix this without significant headache)
            </div>
        </div>
    </div>
}
<h4>Image</h4>
<hr />

<!--Image uploader-->
<div class="row">
    <div class="col-md-4">
        <img id="image" src="/CritterEx/Image?critterId=@Model.Critter.CritterId&cacheVersion=@Model.Critter.VersionNumber&width=348&height=464"
             width="348" height="464"/>

        <for-roles action="Hide" roles="@RoleEnum.Student">
            <form asp-action="Image" method="post" enctype="multipart/form-data">
                <div class="pt-2 form-group">
                    <input class="form-control-file" name="file" type="file" accept="image/*" onchange="previewFile(event)" />
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>

                <input type="hidden" value="@Model.Critter.CritterId" name="critterId" />
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </for-roles>
    </div>
</div>

<!--General critter info editor-->
<h4>General</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Critter.Name" class="control-label"></label>
                <input asp-for="Critter.Name" class="form-control" />
                <span asp-validation-for="Critter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Critter.TagNumber" class="control-label"></label>
                <input asp-for="Critter.TagNumber" class="form-control" />
                <span asp-validation-for="Critter.TagNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Critter.CritterTypeId" class="control-label"></label>
                <select id="selectCritterType" asp-for="Critter.CritterTypeId" class="form-control" asp-items="ViewBag.CritterTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.BreedId" class="control-label"></label>
                <select id="selectBreed" asp-for="Critter.BreedId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.Gender" class="control-label"></label>
                <select asp-for="Critter.Gender" class="form-control">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="?">Unknown</option>
                </select>
                <span asp-validation-for="Critter.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Critter.DadCritterId" class="control-label"></label>
                <select asp-for="Critter.DadCritterId" class="form-control" asp-items="ViewBag.DadCritterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.MumCritterId" class="control-label"></label>
                <select asp-for="Critter.MumCritterId" class="form-control" asp-items="ViewBag.MumCritterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.OwnerContactId" class="control-label"></label>
                <select asp-for="Critter.OwnerContactId" class="form-control" asp-items="ViewBag.OwnerContactId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.Comment" class="control-label"></label>
                <input asp-for="Critter.Comment" class="form-control" />
                <span asp-validation-for="Critter.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Critter.DadFurther" class="control-label"></label>
                <input asp-for="Critter.DadFurther" class="form-control" />
                <span asp-validation-for="Critter.DadFurther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Critter.MumFurther" class="control-label"></label>
                <input asp-for="Critter.MumFurther" class="form-control" />
                <span asp-validation-for="Critter.MumFurther" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="YesReproduceUser" class="form-check-input" type="checkbox"
                       reproduce-type="@ReproduceFlags.YesReproduceUser" reproduce-input="@Model.Critter.ReproduceFlags" />
                <label asp-for="YesReproduceUser" class="form-check-label">Can Reproduce</label>
                <span asp-validation-for="YesReproduceUser" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.Critter.CritterImageId)
            @Html.HiddenFor(model => model.Critter.CritterId)
            @Html.HiddenFor(model => model.Critter.Timestamp)
            @Html.HiddenFor(model => model.Critter.VersionNumber)
            @Html.HiddenFor(model => model.Critter.ReproduceFlags)

            <for-roles action="Hide" roles="@RoleEnum.Student">
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-success" />
                </div>
            </for-roles>

            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

<br />
<for-roles action="Hide" roles="@RoleEnum.Student">
    <h4>New Life Event</h4>
    <hr />
    <!--Event selector-->
    <div class="row">
        <div class="col-md-4">
            <!--Select box-->
            <div class="form-group">
                <label class="form-text">Event</label>
                <select id="editorSelect" class="form-control"></select>
            </div>

            <small class="form-text text-muted">What type of event took place?</small>
        </div>
    </div>

    <hr />
    <!--Event editors-->
    <div class="row">
        <div class="col-md-4">
            <!--'datetime' EDITOR-->
            <div id="editor-datetime" class="d-none">
                <form asp-controller="LifeEvent" asp-action="NewDateTime" asp-route-id="@Model.Critter.CritterId">
                    <!--Date input-->
                    <label asp-for="DateTime.DateTime" class="control-label"></label>
                    <div class="form-inline">
                        <div class="input-group">
                            <input id="datetimeDateTime" type="text" asp-for="DateTime.DateTime" class="form-control datetimepicker-input" data-target="#datetimeDateTime" />
                            <div class="input-group-append" data-target="#datetimeDateTime" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <small class="form-text text-muted">When did this event occur?</small>

                        <span asp-validation-for="DateTime.DateTime" class="text-danger"></span>
                    </div>

                    <partial name="_EditorCommon" />
                    <br />

                    <!--Submit button-->
                    <div class="form-group">
                        <input type="submit" value="Create New Event" class="btn btn-success" />
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>
                </form>
            </div>
        </div>
    </div>
</for-roles>

<!--Life event list-->
<br />
<h4>All Life Events</h4>
<hr />

@foreach (var item in Model.LifeEventTableInfo)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@item.Type</h5>
            <h6 class="card-subtitle text-muted">
                @item.DateTime
                <abbr title="This is when the event was registered, not when it happened.">?</abbr>
            </h6>
            <p class="card-text">@item.Description</p>

            <hr />

            <a asp-controller="LifeEvent" asp-action="Edit@(item.DataType)" asp-route-id="@(item.Id)" class="card-link">
                <for-roles action="Hide" roles="@RoleEnum.Student">
                    Edit
                </for-roles>
                <for-roles action="Show" roles="@RoleEnum.Student">
                    View
                </for-roles>
            </a>

            <for-roles action="Hide" roles="@RoleEnum.Student">
                <a asp-controller="LifeEvent" asp-action="Delete@(item.DataType)" asp-route-id="@(item.Id)" class="card-link">Delete</a>
            </for-roles>
        </div>
    </div>
    <br />
}

@section Scripts {
    <environment exclude="Development">
        <script src="~/js/breed_dropdown_ajax.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/breed_dropdown_ajax.js" asp-append-version="true"></script>
    </environment>

    <script>
        handleBreedDropdown(document.getElementById("selectCritterType"), document.getElementById("selectBreed"), @Model.Critter.BreedId);

        function previewFile(event) {
            var output = document.getElementById('image');
            output.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>

    <!--Students don't need the event editors, so disable the JS to stop errors.-->
    <for-roles action="Hide" roles="@RoleEnum.Student">
        <script src="~/js/life_event.min.js" asp-append-version="true"></script>
        <script>
            setupEditors({
                @(Html.Raw(Model.Javascript?.Select(i => $"\"{i.Name}\": \"{i.DataType}\"").Aggregate((one, two) => $"{one},{two}") ?? ""))
            });
        </script>
    </for-roles>

    <!--Disable all controls for students.-->
    @if (User.IsStudent())
    {
        <partial name="_DisableControlsJs" />
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
