@model Website.Models.CritterExEditViewModel
@using Database.Models;
@{
    ViewData["Title"] = "Edit Critter";
    
    var db = Context.RequestServices.GetRequiredService<LivestockContext>();

    string cantDeleteReason;
    var canDeleteSafely = Model.Critter.CanSafelyDelete(db, out cantDeleteReason);
}

<h2>Edit</h2>

<!--Back & Delete buttons-->
<div class="row">
    <div class="column">
        <a class="ui primary button" asp-action="Index">Back to List</a>

        <for-roles action="Hide" roles="@RoleEnum.Student">
            @if(canDeleteSafely)
            {
            <a class="ui negative button" href="#" onclick="if (confirm('Are you sure you want to delete this Critter?')) window.location.href = '/CritterEx/Delete/@(Model.Critter.CritterId)'">
                Delete
            </a>
            }
            else
            {
                <a class="ui negative button" href="#" onclick="alert('This critter cannot be deleted because: @cantDeleteReason')">
                    Delete
                </a>
            }
        </for-roles>
    </div>
</div>
<br />

@if (Model.ConcurrencyError)
{
    <div class="row">
        <div class="column">
            <div class="ui visible error message">
                Someone modified this Critter before you submitted your changes.
                <br />
                <br />
                You'll have to re-enter all of the changes, sorry!
                <br />
                <br />
                (No matter how much you shout at Andy, he can't fix this without significant headache)
            </div>
        </div>
    </div>
}

<h4 class="ui dividing header">Image</h4>

<!--Image uploader-->
<div class="row">
    <div class="column">
        <img id="image" src="/CritterEx/Image?critterId=@Model.Critter.CritterId&cacheVersion=@Model.Critter.VersionNumber&width=348&height=464"
             width="348" height="464"/>

        <for-roles action="Hide" roles="@RoleEnum.Student">
            <form class="ui form" asp-action="Image" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input name="file" type="file" accept="image/*" onchange="previewFile(event)" />
                </div>
                <div class="field">
                    <input class="ui positive button" type="submit" value="Upload" />
                </div>

                <input type="hidden" value="@Model.Critter.CritterId" name="critterId" />
                <div asp-validation-summary="All" class="ui red text"></div>
            </form>
        </for-roles>
    </div>
</div>

<!--General critter info editor-->
<h4 class="ui dividing header">General</h4>
<div class="row">
    <div class="column">
        <form class="ui form" asp-action="Edit">
            <div class="field">
                <label asp-for="Critter.Name"></label>
                <input asp-for="Critter.Name"/>
                <span asp-validation-for="Critter.Name" class="ui red text"></span>
            </div>
            <div class="field">
                <label asp-for="Critter.TagNumber"></label>
                <input asp-for="Critter.TagNumber"/>
                <span asp-validation-for="Critter.TagNumber" class="ui red text"></span>
            </div>
            <div class="field">
                <label asp-for="Critter.CritterTypeId"></label>
                <select class="ui search dropdown" id="selectCritterType" asp-for="Critter.CritterTypeId" asp-items="ViewBag.CritterTypeId"></select>
            </div>
            <div class="field">
                <label asp-for="Critter.BreedId"></label>
                <select class="ui search dropdown" id="selectBreed" asp-for="Critter.BreedId"></select>
            </div>
            <div class="field">
                <label asp-for="Critter.Gender"></label>
                <select asp-for="Critter.Gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="?">Unknown</option>
                </select>
                <span asp-validation-for="Critter.Gender" class="ui red text"></span>
            </div>
            <div class="field">
                <label asp-for="Critter.DadCritterId"></label>
                <select class="ui search dropdown" asp-for="Critter.DadCritterId" asp-items="ViewBag.DadCritterId"></select>
            </div>
            <div class="field">
                <label asp-for="Critter.MumCritterId"></label>
                <select class="ui search dropdown" asp-for="Critter.MumCritterId" asp-items="ViewBag.MumCritterId"></select>
            </div>
            <div class="field">
                <label asp-for="Critter.OwnerContactId"></label>
                <select class="ui search dropdown" asp-for="Critter.OwnerContactId" asp-items="ViewBag.OwnerContactId"></select>
            </div>
            <div class="field">
                <label asp-for="Critter.Comment"></label>
                <input asp-for="Critter.Comment"/>
                <span asp-validation-for="Critter.Comment" class="ui red text"></span>
            </div>
            <div class="field">
                <label asp-for="Critter.DadFurther"></label>
                <input asp-for="Critter.DadFurther"/>
                <span asp-validation-for="Critter.DadFurther" class="ui red text"></span>
            </div>
            <div class="field">
                <label asp-for="Critter.MumFurther"></label>
                <input asp-for="Critter.MumFurther"/>
                <span asp-validation-for="Critter.MumFurther" class="ui red text"></span>
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input asp-for="YesReproduceUser" type="checkbox"
                           flag-to-use="@CritterFlags.ReproduceYesUser" flag-input="@Model.Critter.Flags" />
                    <label asp-for="YesReproduceUser">Can Reproduce</label>
                    <span asp-validation-for="YesReproduceUser" class="ui red text"></span>
                </div>
            </div>
            @Html.HiddenFor(model => model.Critter.CritterImageId)
            @Html.HiddenFor(model => model.Critter.CritterId)
            @Html.HiddenFor(model => model.Critter.Timestamp)
            @Html.HiddenFor(model => model.Critter.VersionNumber)
            @Html.HiddenFor(model => model.Critter.Flags)

            <for-roles action="Hide" roles="@RoleEnum.Student">
                <div class="field">
                    <input class="ui positive button" type="submit" value="Edit" />
                </div>
            </for-roles>

            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<br />
<for-roles action="Hide" roles="@RoleEnum.Student">
    <h4 class="ui dividing header">New Life Event</h4>
    <!--Event selector-->
    <div class="row">
        <div class="ui form column">
            <!--Select box-->
            <div class="field">
                <label>Event</label>
                <select name="editorSelect" id="editorSelect"></select>
                <span class="ui small grey helper text">What type of event took place?</span>
            </div>
        </div>
    </div>

    <hr />
    <!--Event editors-->
    <div class="row">
        <div class="column">
            <!--'datetime' EDITOR-->
            <div class="hidden" id="editor-datetime">
                <form class="ui form" asp-controller="LifeEvent" asp-action="NewDateTime" asp-route-id="@Model.Critter.CritterId">
                    <!--Date input-->
                    <div class="field">
                        <label asp-for="DateTime.DateTime"></label>
                        <div class="ui calendar datetime">
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input id="datetimeDateTime" type="text" asp-for="DateTime.DateTime" />
                            </div>
                        </div>
                        <span class="ui small grey helper text">When did this event occur?</span>

                        <span asp-validation-for="DateTime.DateTime" class="ui red text"></span>
                    </div>

                    <partial name="_EditorCommon" />
                    <br />

                    <!--Submit button-->
                    <div class="field">
                        <input class="ui positive button" type="submit" value="Create New Event" />
                    </div>

                    <div asp-validation-summary="All" class="ui red text"></div>
                </form>
            </div>
        </div>
    </div>
</for-roles>

<!--Life event list-->
<br />
<h4>All Life Events</h4>
<hr />

@foreach (var item in Model.LifeEventTableInfo)
{
    <div class="card">
        <div class="content">
            <h5 class="header">@item.Type</h5>
            <h6 class="ui grey text">
                @item.DateTime
                <abbr title="This is when the event was registered, not when it happened.">?</abbr>
            </h6>
            <p class="description">@item.Description</p>

            <div class="ui inverted divider"></div>

            <a asp-controller="LifeEvent" asp-action="Edit@(item.DataType)" asp-route-id="@(item.Id)">
                <for-roles action="Hide" roles="@RoleEnum.Student">
                    Edit
                </for-roles>
                <for-roles action="Show" roles="@RoleEnum.Student">
                    View
                </for-roles>
            </a>

            <for-roles action="Hide" roles="@RoleEnum.Student">
                <a asp-controller="LifeEvent" asp-action="Delete@(item.DataType)" asp-route-id="@(item.Id)">Delete</a>
            </for-roles>
        </div>
    </div>
    <br />
}

@section Scripts {
    <environment exclude="Development">
        <script src="~/js/breed_dropdown_ajax.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/breed_dropdown_ajax.js" asp-append-version="true"></script>
    </environment>

    <script>
        handleBreedDropdown(document.getElementById("selectCritterType"), document.getElementById("selectBreed"), @Model.Critter.BreedId);

        function previewFile(event) {
            var output = document.getElementById('image');
            output.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>

    <!--Students don't need the event editors, so disable the JS to stop errors.-->
    <for-roles action="Hide" roles="@RoleEnum.Student">
        <script src="~/js/life_event.min.js" asp-append-version="true"></script>
        <script>
            setupEditors({
                @(Html.Raw(Model.Javascript?.Select(i => $"\"{i.Name}\": \"{i.DataType}\"").Aggregate((one, two) => $"{one},{two}") ?? ""))
            });
        </script>
    </for-roles>

    <!--Disable all controls for students.-->
    @if (User.IsStudent())
    {
        <partial name="_DisableControlsJs" />
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
