@model IList<Database.Models.Critter>
@{
    ViewData["Title"] = "Critter Index";
}

<h1>Critters</h1>

<!--Design selector-->
<div class="row bottom one padded">
    <div class="two wide column">
        <div class="ui icon buttons">
            <button class="ui button" type="button" onclick="changeDesign('design-card-horiz')" style="background: url('/images/icons/horiz-cards.png'); color:transparent; background-size: 100% 100%;">1</button>
            <button class="ui button" type="button" onclick="changeDesign('design-card-vert')" style="background: url('/images/icons/vert-cards.png'); color:transparent; background-size: 100% 100%;">1</button>
            <button class="ui button" type="button" onclick="changeDesign('design-table')" style="background: url('/images/icons/table.png');  color:transparent; background-size: 100% 100%;" >1</button>
        </div>
    </div>
</div>

<!--Create button-->
<for-roles action="Hide" roles="@RoleEnum.Student">
    <div class="row bottom one padded">
        <div class="column">
            <a asp-action="Create" class="ui primary button">
                Create New Critter
            </a>
        </div>
    </div>
</for-roles>

<!--Filters-->
<div class="ui segment">
    <div class="ui form"> <!--Padding wrapper-->
        <!--Name and Tag filter-->
        <div class="grouped fields">
            <label>Search:</label>
            <div>
                <div class="ui search">
                    <div class="ui fluid icon input">
                        <input class="prompt" id="search-box" type="text" />
                        <i class="search icon"></i>
                    </div>
                </div>

                <div class="inline field">
                    <div class="ui radio checkbox">
                        <input id="radioSearchName" type="radio" name="searchType" value="Name" checked />
                        <label>Name</label>
                    </div>
                </div>

                <div class="inline field">
                    <div class="ui radio checkbox">
                        <input id="radioSearchTag" type="radio" name="searchType" value="Tag" />
                        <label>Tag</label>
                    </div>
                </div>
            </div>
        </div>

        <!--Critter type filter-->
        <div class="field">
            <label>Race:</label>
            <select class="ui search selection dropdown" id="type-dropdown">
                <option value="-999">All</option>
                @foreach (var type in Model.Select(c => c.CritterType).OrderBy(b => b.Name).Distinct())
                {
                    <option value="@type.CritterTypeId">@type.Name (@type.Critter.Count)</option>
                }
            </select>
        </div>

        <!--Breed filter-->
        <div class="field">
            <label>Breed:</label>
            <select class="ui search selection dropdown" id="breed-dropdown">
                <option value="-999"></option>
            </select>
        </div>

        <!--Gender filter-->
        <div class="grouped fields">
            <label>Gender:</label>
            <div class="inline field">
                <div class="ui radio checkbox">
                    <input id="radioGenderMale" type="radio" value="M" name="genderFilter" />
                    <label>Male</label>
                </div>
            </div>
            <div class="inline field">
                <div class="ui radio checkbox">
                    <input id="radioGenderFemale" type="radio" value="F" name="genderFilter" />
                    <label>Female</label>
                </div>
            </div>
            <div class="inline field">
                <div class="ui radio checkbox">
                    <input id="radioGenderBoth" type="radio" value="ALL" name="genderFilter" checked />
                    <label>Both</label>
                </div>
            </div>
        </div>

        <!--Can Reproduce filters-->
        <div class="grouped fields">
            <label>Can Reproduce:</label>
            <div class="inline field">
                <div class="ui radio checkbox">
                    <input id="radioReproduceYes" type="radio" value="true" name="canReproduceFilter" />
                    <label>Yes</label>
                </div>
            </div>
            <div class="inline field">
                <div class="ui radio checkbox">
                    <input id="radioReproduceNo" type="radio" value="false" name="canReproduceFilter" />
                    <label>No</label>
                </div>
            </div>
            <div class="inline field">
                <div class="ui radio checkbox">
                    <input id="radioReproduceBoth" type="radio" value="ALL" name="canReproduceFilter" checked />
                    <label>Both</label>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Table design-->
<table id="design-table" class="table transition hidden">
    <partial name="_Table" model="@Model" />
</table>

<!--Horizontal card design-->
<div id="design-card-horiz" class="row">
    <partial name="_CardHoriz" model="@Model" />
</div>

<!--Vertical card design-->
<div id="design-card-vert" class="transition hidden">
    <partial name="_CardVert" model="@Model" />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/design_select.js" asp-append-version="true"></script>
    
    <environment include="Development">
        <script type="text/javascript" src="~/js/critter_filter_ajax.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/critter_filter_ajax.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        handleCritterFilter(
            document.getElementById("search-box"),
            [
                document.getElementById("radioSearchName"),
                document.getElementById("radioSearchTag")
            ],
            document.getElementById("type-dropdown"),
            document.getElementById("breed-dropdown"),
            [
                document.getElementById("radioGenderMale"),
                document.getElementById("radioGenderFemale"),
                document.getElementById("radioGenderBoth")
            ],
            [
                document.getElementById("radioReproduceYes"),
                document.getElementById("radioReproduceNo"),
                document.getElementById("radioReproduceBoth")
            ]
        );
    </script>
}