@model IList<Database.Models.Critter>
@{
    ViewData["Title"] = "Critter Index";
}

<h1>Critters</h1>

<!--Design selector-->
<div class="row pb-2">
    <div class="col-md-4">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary" onclick="changeDesign('design-card-horiz')" style="background: url('/images/icons/horiz-cards.png'); color:transparent; background-size: 100% 100%;">1</button>
            <button type="button" class="btn btn-secondary" onclick="changeDesign('design-card-vert')" style="background: url('/images/icons/vert-cards.png'); color:transparent; background-size: 100% 100%;">1</button>
            <button type="button" class="btn btn-secondary" onclick="changeDesign('design-table')" style="background: url('/images/icons/table.png');  color:transparent; background-size: 100% 100%;" >1</button>
        </div>
    </div>
</div>

<!--Create button-->
<for-roles action="Hide" roles="@RoleEnum.Student">
    <div class="row pb-2">
        <div class="col-md-4">
            <a asp-action="Create" class="ui primary button">
                Create New Critter
            </a>
        </div>
    </div>
</for-roles>

<!--Filters-->
<div class="border">
    <div class="pt-2 pl-2"> <!--Padding wrapper-->
        <!--Name and Tag filter-->
        <div class="field row">
            <label class="col-md-1 col-form-label">Search:</label>
            <div class="col-md-8">
                <div class="form-inline">
                    <input id="search-box" type="text"/>

                    <div class="checkbox checkbox-inline pl-md-2">
                        <input id="radioSearchName" type="radio" name="searchType" class="checkbox-input" value="Name" checked />
                        <label >Name</label>
                    </div>

                    <div class="checkbox checkbox-inline">
                        <input id="radioSearchTag" type="radio" name="searchType" class="checkbox-input" value="Tag" />
                        <label >Tag</label>
                    </div>
                </div>
            </div>
        </div>

        <!--Critter type filter-->
        <div class="field row">
            <label class="col-md-1 col-form-label">Race:</label>
            <div class="col-md-4">
                <div class="form-inline">
                    <select id="type-dropdown">
                        <option value="-999">All</option>
                        @foreach (var type in Model.Select(c => c.CritterType).OrderBy(b => b.Name).Distinct())
                        {
                            <option value="@type.CritterTypeId">@type.Name (@type.Critter.Count)</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <!--Breed filter-->
        <div class="field row">
            <label class="col-md-1 col-form-label">Breed:</label>
            <div class="col-md-4">
                <div class="form-inline">
                    <select id="breed-dropdown">
                        <option value="-999"></option>
                    </select>
                </div>
            </div>
        </div>

        <!--Gender filter-->
        <div class="field row">
            <label class="col-md-1 col-form-label">Gender:</label>
            <div class="col-md-4">
                <div class="checkbox checkbox-inline pt-2">
                    <input id="radioGenderMale" class="checkbox-input" type="radio" value="M" name="genderFilter" />
                    <label >Male</label>
                </div>
                <div class="checkbox checkbox-inline pt-2">
                    <input id="radioGenderFemale" class="checkbox-input" type="radio" value="F" name="genderFilter" />
                    <label >Female</label>
                </div>
                <div class="checkbox checkbox-inline pt-2">
                    <input id="radioGenderBoth" class="checkbox-input" type="radio" value="ALL" name="genderFilter" checked />
                    <label >Both</label>
                </div>
            </div>
        </div>

        <!--Can Reproduce filters-->
        <div class="field row">
            <label class="col-md-1 col-form-label">Can Reproduce:</label>
            <div class="col-md-4">
                <div class="checkbox checkbox-inline pt-2">
                    <input id="radioReproduceYes" class="checkbox-input" type="radio" value="true" name="canReproduceFilter" />
                    <label >Yes</label>
                </div>
                <div class="checkbox checkbox-inline pt-2">
                    <input id="radioReproduceNo" class="checkbox-input" type="radio" value="false" name="canReproduceFilter" />
                    <label >No</label>
                </div>
                <div class="checkbox checkbox-inline pt-2">
                    <input id="radioReproduceBoth" class="checkbox-input" type="radio" value="ALL" name="canReproduceFilter" checked />
                    <label >Both</label>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Padding-->
<div class="pt-2"></div>

<!--Table design-->
<table id="design-table" class="table d-none">
    <partial name="_Table" model="@Model" />
</table>

<!--Horizontal card design-->
<div id="design-card-horiz" class="row">
    <partial name="_CardHoriz" model="@Model" />
</div>

<!--Vertical card design-->
<div id="design-card-vert" class="d-none">
    <partial name="_CardVert" model="@Model" />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/design_select.js" asp-append-version="true"></script>
    
    <environment include="Development">
        <script type="text/javascript" src="~/js/critter_filter_ajax.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/critter_filter_ajax.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        handleCritterFilter(
            document.getElementById("search-box"),
            [
                document.getElementById("radioSearchName"),
                document.getElementById("radioSearchTag")
            ],
            document.getElementById("type-dropdown"),
            document.getElementById("breed-dropdown"),
            [
                document.getElementById("radioGenderMale"),
                document.getElementById("radioGenderFemale"),
                document.getElementById("radioGenderBoth")
            ],
            [
                document.getElementById("radioReproduceYes"),
                document.getElementById("radioReproduceNo"),
                document.getElementById("radioReproduceBoth")
            ]
        );
    </script>
}