@model IList<Database.Models.Critter>
@{
    ViewData["Title"] = "UserList";
}

<h1>Critters</h1>

<!--Design selector-->
<div class="row pb-2">
    <div class="col-md-4">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary" onclick="changeDesign('design-card-horiz')" style="background: url('/images/icons/horiz-cards.png'); color:transparent; background-size: 100% 100%;">1</button>
            <button type="button" class="btn btn-secondary" onclick="changeDesign('design-card-vert')" style="background: url('/images/icons/vert-cards.png'); color:transparent; background-size: 100% 100%;">1</button>
            <button type="button" class="btn btn-secondary" onclick="changeDesign('design-table')" style="background: url('/images/icons/table.png');  color:transparent; background-size: 100% 100%;" >1</button>
        </div>
    </div>
</div>

<!--Create button-->
<div class="row pb-2">
    <div class="col-md-4">
        <a asp-action="Create" class="btn btn-primary">
            Create New Critter
        </a>
    </div>
</div>

<!--Critter type filter-->
<div class="row pb-2">
    <div class="col-md-4">
        <div class="form-inline">
            <label class="form-text pr-2">Race:</label>
            <select id="type-dropdown" class="form-control">
                <option value="-999">All</option>
                @foreach (var type in Model.Select(c => c.CritterType).OrderBy(b => b.Name).Distinct())
                {
                    <option value="@type.CritterTypeId">@type.Name (@type.Critter.Count)</option>
                }
            </select>
        </div>
    </div>
</div>

<!--Breed filter-->
<div class="row pb-2">
    <div class="col-md-4">
        <div class="form-inline">
            <label class="form-text pr-2">Breed:</label>
            <select id="breed-dropdown" class="form-control">
                <option value="-999"></option>
            </select>
        </div>
    </div>
</div>

<!--Gender filter-->
<div class="row pb-2">
    <div class="col-md-4">
        <div class="form-inline">
            <label class="form-text pr-2">Gender:</label>
            <div class="form-check form-check-inline pt-2">
                <input id="radioGenderMale" class="form-check-input" type="radio" value="M" name="genderFilter" />
                <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline pt-2">
                <input id="radioGenderFemale" class="form-check-input" type="radio" value="F" name="genderFilter" />
                <label class="form-check-label">Female</label>
            </div>
            <div class="form-check form-check-inline pt-2">
                <input id="radioGenderBoth" class="form-check-input" type="radio" value="ALL" name="genderFilter" checked/>
                <label class="form-check-label">Both</label>
            </div>
        </div>
    </div>
</div>

<!--Can Reproduce filters-->
<div class="row pb-2">
    <div class="col-md-4">
        <div class="form-inline">
            <label class="form-text pr-2">Can Reproduce:</label>
            <div class="form-check form-check-inline pt-2">
                <input id="radioReproduceYes" class="form-check-input" type="radio" value="true" name="canReproduceFilter" />
                <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check form-check-inline pt-2">
                <input id="radioReproduceNo" class="form-check-input" type="radio" value="false" name="canReproduceFilter" />
                <label class="form-check-label">No</label>
            </div>
            <div class="form-check form-check-inline pt-2">
                <input id="radioReproduceBoth" class="form-check-input" type="radio" value="ALL" name="canReproduceFilter" checked />
                <label class="form-check-label">Both</label>
            </div>
        </div>
    </div>
</div>

<!--Table design-->
<table id="design-table" class="table d-none">
    <partial name="_Table" model="@Model" />
</table>

<!--Horizontal card design-->
<div id="design-card-horiz" class="row">
    <partial name="_CardHoriz" model="@Model" />
</div>

<!--Vertical card design-->
<div id="design-card-vert" class="d-none">
    <partial name="_CardVert" model="@Model" />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/design_select.js" asp-append-version="true"></script>
    
    <environment include="Development">
        <script type="text/javascript" src="~/js/critter_filter_ajax.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/critter_filter_ajax.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        handleCritterFilter(
            document.getElementById("type-dropdown"),
            document.getElementById("breed-dropdown"),
            [
                document.getElementById("radioGenderMale"),
                document.getElementById("radioGenderFemale"),
                document.getElementById("radioGenderBoth")
            ],
            [
                document.getElementById("radioReproduceYes"),
                document.getElementById("radioReproduceNo"),
                document.getElementById("radioReproduceBoth")
            ]
        );
    </script>
}