@model IList<Database.Models.Critter>
@{
    ViewData["Title"] = "UserList";
}

<h1>Critters</h1>

<!--Design selector & Create button-->
<div class="row">
    <div class="col-md-4">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary" onclick="changeDesign('design-card-horiz')">1</button>
            <button type="button" class="btn btn-secondary" onclick="changeDesign('design-table')">2</button>
            <button type="button" class="btn btn-secondary" onclick="changeDesign('design-card-vert')">3</button>
        </div>
    </div>
    <div class="col-md-4">
        <form asp-action="Create" method="get">
            <button type="submit" class="btn btn-primary">Create New Critter</button>
        </form>
    </div>
</div>

<!--Table design-->
<table id="design-table" class="table d-none">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Breed</th>
            <th scope="col">Gender</th>
            <th scope="col">Dad</th>
            <th scope="col">Mum</th>
            <th scope="col">Owner</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                <td> @Html.DisplayFor(modelItem => item.CritterType.Name) </td>
                <td> @Html.DisplayFor(modelItem => item.Breed.Description) </td>
                <td> @Html.DisplayFor(modelItem => item.Gender) </td>
                <td> @Html.DisplayFor(modelItem => item.DadCritter.Name) </td>
                <td> @Html.DisplayFor(modelItem => item.MumCritter.Name) </td>
                <td> @Html.DisplayFor(modelItem => item.OwnerContact.Name) </td>
                <td>
                    <a asp-controller="CritterEx" asp-action="Edit" asp-route-id="@(item.CritterId)">Edit</a>
                    |
                    <a asp-controller="CritterEx" asp-action="Delete" asp-route-id="@(item.CritterId)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Horizontal card design-->
<div id="design-card-horiz" class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 pb-2">
            <div class="card">
                <img class="card-img-top" src="/CritterEx/Image?critterId=@item.CritterId&cacheVersion=@item.VersionNumber" />
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle text-muted">
                        @(item.Gender == "M" ? "Male"
                                             : item.Gender == "F" ? "Female"
                                                                  : item.Gender)
                        @item.CritterType.Name - @item.Breed.Description
                    </h6>

                    <hr />

                    <a class="card-link" asp-controller="CritterEx" asp-action="Edit" asp-route-id="@(item.CritterId)">Edit</a>
                    <a class="card-link" asp-controller="CritterEx" asp-action="Delete" asp-route-id="@(item.CritterId)">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

<!--Vertical card design-->
<div id="design-card-vert" class="d-none">
    @foreach (var item in Model)
    {
        <div class="row pb-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="card-img" src="/CritterEx/Image?critterId=@item.CritterId&cacheVersion=@item.VersionNumber" height="150" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <h6 class="card-subtitle text-muted">
                                    @(item.Gender == "M" ? "Male"
                                                            : item.Gender == "F" ? "Female"
                                                            : item.Gender)
                                    @item.CritterType.Name - @item.Breed.Description
                                </h6>

                                <hr />

                                <a class="card-link" asp-controller="CritterEx" asp-action="Edit" asp-route-id="@(item.CritterId)">Edit</a>
                                <a class="card-link" asp-controller="CritterEx" asp-action="Delete" asp-route-id="@(item.CritterId)">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/design_select.js" asp-append-version="true"></script>
}