@model Database.Models.Critter

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

	<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Critter</h4>
    <hr />
    <dl class="dl-horizontal">
					<dt>
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.BreedId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.BreedId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.CritterImageId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.CritterImageId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.CritterTypeId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.CritterTypeId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.DadCritterId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DadCritterId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.MumCritterId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.MumCritterId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.OwnerContactId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.OwnerContactId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Comment)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Comment)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.DadFurther)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DadFurther)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Flags)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Flags)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Gender)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Gender)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.MumFurther)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.MumFurther)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.TagNumber)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.TagNumber)
			</dd>
		    </dl>

			<form class="ui form"asp-action="Delete">
			<input type="hidden" asp-for="CritterId" />
			<input type="submit" value="Delete" class="btn btn-danger" /> |
			<a asp-action="Index">Back to List</a>
		</form>
	</div>