@model IEnumerable<Database.Models.Critter>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MumFurther)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DadFurther)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerContactId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VersionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CritterType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DadCritter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MumCritter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MumFurther)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DadFurther)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CritterType.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DadCritter.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MumCritter.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CritterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CritterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CritterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
