
@model IEnumerable<Database.Models.MenuHeader>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
							<th> @Html.DisplayNameFor(model => model.Name) </th>
							<th> @Html.DisplayNameFor(model => model.MenuHeaderParentId) </th>
							<th> @Html.DisplayNameFor(model => model.RoleId) </th>
							<th> @Html.DisplayNameFor(model => model.ApplicationCode) </th>
							<th> @Html.DisplayNameFor(model => model.Comment) </th>
							<th> @Html.DisplayNameFor(model => model.ImageUri) </th>
							<th> @Html.DisplayNameFor(model => model.Title) </th>
			            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
							<td> @Html.DisplayFor(modelItem => item.Name) </td>
            				<td> @Html.DisplayFor(modelItem => item.MenuHeaderParentId) </td>
            				<td> @Html.DisplayFor(modelItem => item.RoleId) </td>
            				<td> @Html.DisplayFor(modelItem => item.ApplicationCode) </td>
            				<td> @Html.DisplayFor(modelItem => item.Comment) </td>
            				<td> @Html.DisplayFor(modelItem => item.ImageUri) </td>
            				<td> @Html.DisplayFor(modelItem => item.Title) </td>
                        <td>
                <a asp-action="Edit" asp-route-id="@item.MenuHeaderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MenuHeaderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MenuHeaderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
