
@model IEnumerable<Database.Models.CritterImageVariant>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
							<th> @Html.DisplayNameFor(model => model.CritterImageModifiedId) </th>
							<th> @Html.DisplayNameFor(model => model.CritterImageOriginalId) </th>
							<th> @Html.DisplayNameFor(model => model.Height) </th>
							<th> @Html.DisplayNameFor(model => model.Width) </th>
			            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
												<td> @Html.DisplayFor(modelItem => item.CritterImageModified.CritterImageId) </td>
				            									<td> @Html.DisplayFor(modelItem => item.CritterImageOriginal.CritterImageId) </td>
				            									<td> @Html.DisplayFor(modelItem => item.Height) </td>
				            									<td> @Html.DisplayFor(modelItem => item.Width) </td>
				                        <td>
                <a asp-action="Edit" asp-route-id="@item.CritterImageVariantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CritterImageVariantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CritterImageVariantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
