@model Database.Models.MenuItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="dl-horizontal">
					<dt>
				@Html.DisplayNameFor(model => model.Action)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Action)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Comment)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Comment)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Controller)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Controller)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.IconUri)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IconUri)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.RoleId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.RoleId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.SequenceNumber)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.SequenceNumber)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Title)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Title)
			</dd>
		    </dl>

			<div>
			<a asp-action="Edit" asp-route-id="@Model.MenuItemId">Edit</a> |
			<a asp-action="Index">Back to List</a>
		</div>
	</div>