@model Database.Models.CritterLifeEventDatetime

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@Html.DisplayNameFor(model => model.CritterLifeEventGiveBirthId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="ui form" asp-action="Edit">
												@Html.HiddenFor(model => model.CritterLifeEventGiveBirthId)
																<div class="field">
						<label asp-for="Comment" class="control-label"></label>
						<input asp-for="Comment"/>
						<span asp-validation-for="Comment" class="ui red text"></span>
					</div>
																<div class="field date" id="DateTime" data-target-input="nearest">
						<label asp-for="DateTime" class="control-label"></label>
						<div class="form-inline">
							<input id="DateTime" type="text" name="DateTime" class="form-control datetimepicker-input" data-target="#DateTime"
								   value="@(Model?.DateTime.ToString("G") ?? "")"/>
							<div class="input-group-append" data-target="#DateTime" data-toggle="datetimepicker">
								<div class="input-group-text"><i class="fa fa-calendar"></i></div>
							</div>
						</div>
					</div>
																@Html.HiddenFor(model => model.Timestamp)
																@Html.HiddenFor(model => model.VersionNumber)
							            <div class="field">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

			<script type="text/javascript">
			$(function () {
				$('#DateTime').datetimepicker();
			});
		</script>
	}
