@model Database.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
					<dt>
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Address)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Address)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Comment)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Comment)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.EmailAddress)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.EmailAddress)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.IsCustomer)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IsCustomer)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.IsSupplier)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IsSupplier)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.PhoneNumber1)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.PhoneNumber1)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.PhoneNumber2)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.PhoneNumber2)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.PhoneNumber3)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.PhoneNumber3)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.PhoneNumber4)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.PhoneNumber4)
			</dd>
		    </dl>

			<div>
			<a asp-action="Edit" asp-route-id="@Model.ContactId">Edit</a> |
			<a asp-action="Index">Back to List</a>
		</div>
	</div>