@model Website.Models.GroupCreateEditViewModel
@{
    ViewData["Title"] = Model.CreateOrEdit == "create" ? "Create - Group" : "Edit - Group";
}

<h1>
    @(Model.CreateOrEdit == "create" ? "Create new" : "Edit") @Model.GroupType group
</h1>
<hr />

<form class="ui form" id="createForm" asp-action="@(Model.CreateOrEdit == "create" ? "Create" : "Edit")" method="post">
    <div class="field">
        <label asp-for="Group.Name"></label>
        <input asp-for="Group.Name" />
        <span class="ui red text" asp-validation-for="Group.Name"></span>
    </div>
    <div class="field">
        <label asp-for="Group.Description"></label>
        <input asp-for="Group.Description" />
        <span class="ui red text" asp-validation-for="Group.Description"></span>
    </div>

    <div class="field">
        @if (Model.GroupType == "critter")
        {
            <label>Critters</label>
            <select class="ui search multiple selection dropdown" asp-for="SelectedMemberIds" multiple>
                @foreach (KeyValuePair<int, string> info in ViewBag.GroupDescriptions)
                {
                    <option value="@info.Key">@info.Value</option>
                }
            </select>
            <input asp-for="Group.GroupType" type="hidden" value="@AdmuGroupEntityTypes.Critter" />
        }
        else if (Model.GroupType == "user")
        { 
            <label>Members</label>
            <select class="ui search multiple selection dropdown" asp-for="SelectedMemberIds" multiple>
                @foreach (KeyValuePair<int, string> info in ViewBag.GroupDescriptions)
                {
                    <option value="@info.Key">@info.Value</option>
                }
            </select>
            <input asp-for="Group.GroupType" type="hidden" value="@AdmuGroupEntityTypes.User" />
        }
    </div>

    <input asp-for="CreateOrEdit" type="hidden" />
    <input asp-for="GroupType" type="hidden" />

    @if (Model.CreateOrEdit == "create")
    {
        <input asp-for="Group.Timestamp" type="hidden" value="AAAAAAAAH0U=" />
    }
    else
    {
        <input asp-for="Group.AdmuGroupId" type="hidden" />
        <input asp-for="Group.Timestamp" type="hidden" />
    }

    <div class="field">
        <button class="ui primary button" type="submit">@(Model.CreateOrEdit == "create" ? "Create" : "Edit") @Model.GroupType group</button>
    </div>

    <div asp-validation-summary="All" class="ui red text"></div>
</form>