@model Website.Models.GroupCreateEditViewModel
@{
    ViewData["Title"] = Model.CreateOrEdit == "create" ? "Create - Group" : "Edit - Group";
}

<h1>
    @(Model.CreateOrEdit == "create" ? "Create new" : "Edit") @Model.GroupType group
</h1>
<hr />

<form id="createForm" asp-action="@(Model.CreateOrEdit == "create" ? "Create" : "Edit")" method="post">
    <div class="form-group">
        <label class="control-label" asp-for="Group.Name"></label>
        <input class="form-control" asp-for="Group.Name" />
        <span class="text-danger" asp-validation-for="Group.Name"></span>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="Group.Description"></label>
        <input class="form-control" asp-for="Group.Description" />
        <span class="text-danger" asp-validation-for="Group.Description"></span>
    </div>

    @if (Model.GroupType == "critter")
    {
        <aim-multi-select asp-for="SelectedGroupIds" descriptions="@ViewBag.GroupDescriptions" form-id="createForm" type="Critter" label="Critters"></aim-multi-select>
        <input asp-for="Group.GroupType" type="hidden" value="@AdmuGroupEntityTypes.Critter" />
    }
    else if (Model.GroupType == "user")
    {
        <aim-multi-select asp-for="SelectedGroupIds" descriptions="@ViewBag.GroupDescriptions" form-id="createForm" type="User" label="Users"></aim-multi-select>
        <input asp-for="Group.GroupType" type="hidden" value="@AdmuGroupEntityTypes.User" />
    }

    <input asp-for="CreateOrEdit" type="hidden" />
    <input asp-for="GroupType" type="hidden" />
    <input asp-for="Group.AdmuGroupId" type="hidden" />

    @if (Model.CreateOrEdit == "create")
    {
        <input asp-for="Group.Timestamp" type="hidden" value="AAAAAAAAH0U=" />
    }
    else
    {
        <input asp-for="Group.Timestamp" type="hidden" />
    }

    <div class="form-group">
        <button class="btn btn-primary" type="submit">@(Model.CreateOrEdit == "create" ? "Create" : "Edit") @Model.GroupType</button>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
</form>