@model Database.Models.ProductPurchase

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


<div>
    <h4>ProductPurchase</h4>
    <hr />
    <dl class="dl-horizontal">
					<dt>
				@Html.DisplayNameFor(model => model.LocationId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.LocationId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.ProductId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ProductId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.SupplierId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.SupplierId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.BatchNumber)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.BatchNumber)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Comment)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Comment)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Cost)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Cost)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.DateTime)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DateTime)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Expiry)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Expiry)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Volume)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Volume)
			</dd>
		    </dl>

			<div>
			<a asp-action="Edit" asp-route-id="@Model.ProductPurchaseId">Edit</a> |
			<a asp-action="Index">Back to List</a>
		</div>
	</div>