@model Database.Models.VehicleLifeEvent

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

	<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>VehicleLifeEvent</h4>
    <hr />
    <dl class="dl-horizontal">
					<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.EnumVehicleLifeEventTypeId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.EnumVehicleLifeEventTypeId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.VehicleTrailerMapId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.VehicleTrailerMapId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Comment)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Comment)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.DateTime)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DateTime)
			</dd>
		    </dl>

			<form class="ui form" asp-action="Delete">
			<input type="hidden" asp-for="VehicleLifeEventId" />
			<input type="submit" value="Delete" class="btn btn-danger" /> |
			<a asp-action="Index">Back to List</a>
		</form>
	</div>