
@model IEnumerable<Database.Models.VehicleLifeEvent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
							<th> @Html.DisplayNameFor(model => model.Description) </th>
							<th> @Html.DisplayNameFor(model => model.EnumVehicleLifeEventTypeId) </th>
							<th> @Html.DisplayNameFor(model => model.VehicleTrailerMapId) </th>
							<th> @Html.DisplayNameFor(model => model.Comment) </th>
							<th> @Html.DisplayNameFor(model => model.DateTime) </th>
			            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
							<td> @Html.DisplayFor(modelItem => item.Description) </td>
            				<td> @Html.DisplayFor(modelItem => item.EnumVehicleLifeEventTypeId) </td>
            				<td> @Html.DisplayFor(modelItem => item.VehicleTrailerMapId) </td>
            				<td> @Html.DisplayFor(modelItem => item.Comment) </td>
            				<td> @Html.DisplayFor(modelItem => item.DateTime) </td>
                        <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleLifeEventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleLifeEventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleLifeEventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
