@model Database.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
					<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.EnumProductTypeId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.EnumProductTypeId)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.Comment)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Comment)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.DefaultVolume)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DefaultVolume)
			</dd>
					<dt>
				@Html.DisplayNameFor(model => model.RequiresRefridgeration)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.RequiresRefridgeration)
			</dd>
		    </dl>

			<div>
			<a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
			<a asp-action="Index">Back to List</a>
		</div>
	</div>