
@model IEnumerable<Database.Models.EnumCritterLifeEventType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
							<th> @Html.DisplayNameFor(model => model.Description) </th>
							<th> @Html.DisplayNameFor(model => model.Comment) </th>
							<th> @Html.DisplayNameFor(model => model.DataType) </th>
							<th> @Html.DisplayNameFor(model => model.EnumCritterLifeEventCategoryId) </th>
							<th> @Html.DisplayNameFor(model => model.FlagCantReproduce) </th>
							<th> @Html.DisplayNameFor(model => model.FlagEndOfSystem) </th>
							<th> @Html.DisplayNameFor(model => model.FlagIllness) </th>
			            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
												<td> @Html.DisplayFor(modelItem => item.Description) </td>
				            									<td> @Html.DisplayFor(modelItem => item.Comment) </td>
				            									<td> @Html.DisplayFor(modelItem => item.DataType) </td>
				            									<td> @Html.DisplayFor(modelItem => item.EnumCritterLifeEventCategoryId) </td>
				            									<td> @Html.DisplayFor(modelItem => item.FlagCantReproduce) </td>
				            									<td> @Html.DisplayFor(modelItem => item.FlagEndOfSystem) </td>
				            									<td> @Html.DisplayFor(modelItem => item.FlagIllness) </td>
				                        <td>
                <a asp-action="Edit" asp-route-id="@item.EnumCritterLifeEventTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnumCritterLifeEventTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnumCritterLifeEventTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
